---
layout: 2017_default
permalink: /key-info
title: Key Information
---
<section id="key-info" class="black-frame about about-container about-container-top">
  <h1>Key Information</h1>
  <ul class="timeline">
    {% for about_data in site.data.twenty_17.home_about_data %}
      <li class="{{ about_data.inverted }}">
        <div class="timeline-image">
          <img class="img-circle img-responsive" src="../css/2016_style/img/{{ about_data.img }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ about_data.name }}</h4>
          </div>
          <div class="timeline-heading">
            {% if about_data.info.first %}
              {% for info_item in about_data.info %}
                <p class="text-muted">{{ info_item }}</p>
              {% endfor %}
            {% else %}
              <p class="text-muted">{{ about_data.info }}</p>
            {% endif %}
          </div>
          {% if about_data.link %}
            <a href="{{ about_data.link }}" class="page-scroll btn btn-sm">Learn More</a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
