---
layout: 2017_default
permalink: /programme
title: Prelimary Programme
published: true
---
    <!--background color-->
    <script type="text/javascript">
    document.write(
        '<body style="background: #F7F7F7; background-attachment: fixed;">'
    );
    </script>

    <div class="black-frame about about-container about-container-top about-container-bottom">
      <h1>{{ page.title }}</h1>

        <h2>Day 1 - Wednesday 7th</h2>
        <table class="agenda">
            {% for agenda in site.data.twenty_17.programme_1 %}
                <tr>
                    <td style="width:30%; font-size: 120%;"><b>{{ agenda.time }}</b></td>
                    <td>{{ agenda.info }}</td>
                </tr> 
            {% endfor %}
        </table>

        <h2>Day 2 - Thursday 8th</h2>
        <table class="agenda">
            {% for agenda in site.data.twenty_17.programme_2 %}
                <tr>
                    <td style="width:30%; font-size: 120%;"><b>{{ agenda.time }}</b></td>
                    <td>{{ agenda.info }}</td>
                </tr> 
            {% endfor %}
        </table>

        <h2>Day 3 - Friday 9th</h2>
        <table class="agenda">
            {% for agenda in site.data.twenty_17.programme_3 %}
                <tr>
                    <td style="width:30%; font-size: 120%;"><b>{{ agenda.time }}</b></td>
                    <td>{{ agenda.info }}</td>
                </tr> 
            {% endfor %}
        </table>
    </div>