<footer class="site-footer h-card">
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">{{ site.title }}</li><li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
    </div>
  
        <div class="footer-col footer-col-3">
            <p>{{ site.description }}</p>
        </div>
        </div>

    </div>
  
</footer>