<!-- Clients Aside -->

<aside
  class="clients"
  class="bg-light-gray"
  style="margin-top: 0; margin-bottom: 0"
>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <a href="https://www.swansea.ac.uk/" class="portfolio-link" data-toggle="modal" target="_blank">
            <img
                src="../css/2017_style/img/logos/Swansea-logo.png"
                class="img-responsive img-centered"
                style="max-width: 225px"
                alt="Swansea University Logo"
            />
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.ukrrin.org.uk/" class="portfolio-link" data-toggle="modal" target="_blank">
            <img
                src="../css/2017_style/img/logos/ukrrin2.png"
                class="img-responsive img-centered"
                style="max-width: 225px"
                alt="UKRRIN Logo"
            />
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.mobility.siemens.com/uk/en.html" class="portfolio-link" data-toggle="modal" target="_blank">
            <img
                src="../css/2017_style/img/logos/siemens2.png"
                class="img-responsive img-centered"
                style="max-width: 225px"
                alt="Siemens Mobility UK Logo"
            />
            </a>
        </div>
      </div>
      <div class="row">
      <div class="col-md-4 col-sm-6">
        <a href="https://www.gcre.wales/" class="portfolio-link" data-toggle="modal" target="_blank">
          <img
            src="../css/2017_style/img/logos/gcre2.png"
            class="img-responsive img-centered"
            style="max-width: 225px"
            alt="GCRE Logo"
          />
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="https://www.rssb.co.uk/spark" class="portfolio-link" data-toggle="modal" target="_blank">
          <img
            src="../css/2017_style/img/logos/spark.png"
            class="img-responsive img-centered"
            style="max-width: 225px"
            alt="Spark rail knowledge hub logo"
          />
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#intro" class="portfolio-link">
          <img
            src="../css/2017_style/img/logos/2026_UKRRIN_3.png"
            class="img-responsive img-centered"
            style="max-width: 225px"
            alt="UKRRIN 2026 Student Conference Logo"
          />
        </a>
      </div>
      </div>
    
  </div>
</aside>
