<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <h2 class="section-heading">Title</h2> -->
                </div>
            </div>
                <p>The UKRRIN Student Led Conference is the premier annual event for PhD students in the UK conducting research with applications in the railway industry. 
					This conference will bring together members of the academic community and industry professionals to discuss innovative solutions and help shape the future of the railway. 
					To this end, we will feature keynote speakers from leading organisations and provide networking opportunities to facilitate collaboration across the railway sector.</p>

				<p>Participants will have the chance to showcase their work in an interdisciplinary environment spanning fields such as engineering, computer science, and social sciences. 
					The conference encourages students to present their research through poster presentations and talks, providing a platform for emerging ideas that could shape the future of the rail industry.</p>

				<p>There will also be the opportunity for in-person delegates to visit the <a class="urllink" href="https://www.gcre.wales/" rel="nofollow">Global Centre of Rail Excellence</a>, currently under construction in South Wales. 
					This tour will offer a first-hand look at the world-class rail innovation centre being developed to support both industrial and academic research.
				</p>

				<p>A conference dinner will be held for all delegates.</p>

<h2>Conference Themes</h2>
Our edition of this conference will be aligned with the <a class="urllink" href="https://railtechnicalstrategy.co.uk/" rel="nofollow">Rail Technical Strategy</a>, particularly with the themes we will highlight:

<h4>Easy to use for all</h4>
	<ul>
		<li>Customer experience</li>
		<li>Accessibility</li>
		<li>Applied economics for the railway</li>
	</ul>

<h4>Freight friendly</h4>
	<ul>
		<li>Freight infrastructure</li>
		<li>Freight operations</li>
		<li>Freight sustainability</li>
		<li>Access to freight</li>
  	</ul>

<h4>Low emissions</h4>
	<ul>
		<li>Sustainability of the railway</li>
		<li>Electrification and decarbonisation</li>
		<li>Energy management</li>
	</ul>

<h4>Optimised train operations</h4>
	<ul>
		<li>Improving the infrastructure</li>
		<li>Planning/timetabling/improving capacity</li>
		<li>Improving incident recovery</li>
		<li>Maximising lower use lines</li>
	</ul>

<h4>Efficient and reliable assets</h4>
	<ul>
		<li>Accelerating railway development while minimising risks (testing and verification)</li>
		<li>Railway resilience and security of the railway</li>
		<li>Safe and efficient maintenance </li>
	</ul>

<h2>Keynote Speakers</h2>
<ul>
    <li>Industry leaders will share insights on current trends and challenges in the train sector.</li>
    <li>Experts will discuss the role of academic research in enhancing operational efficiency and safety in rail transport.</li>
</ul>

<h2>Networking Opportunities</h2>
<ul>
    <li>Attendees will have the chance to connect with peers and professionals, fostering relationships that can lead to future collaborations.</li>
    <li>Information will also be available for connecting with professional railway-related organisations, to promote careers in the industry.</li>
</ul>

<h2>2025 UKRRIN Student Conference</h2>
<p>The <a class="urllink" href="https://sheffield.ac.uk/ritc/conference" rel="nofollow">2025 UKRRIN Student Conference</a> was hosted by the University of Sheffield.</p>

</div>
    </section>