<!-- Services Section -->
<section id="intro" style="margin-top: 0">
  <div class="container" style="margin-top: 0">
    <p>
      The UKRRIN Student Led Conference is the premier annual event for PhD
      students in the UK conducting research with applications in the railway
      industry. This conference will bring together members of the academic
      community and industry professionals to discuss innovative solutions and
      help shape the future of the railway. To this end, we will feature keynote
      speakers from leading organisations and provide networking opportunities
      to facilitate collaboration across the railway sector.
    </p>

    <p>
      Participants will have the chance to showcase their work in an
      interdisciplinary environment spanning fields such as engineering,
      computer science, and social sciences. The conference encourages students
      to present their research through poster presentations and talks,
      providing a platform for emerging ideas that could shape the future of the
      rail industry.
    </p>

    <p>
      <b>There will also be the opportunity for in-person delegates to visit the
      <a class="urllink" href="https://www.gcre.wales/" rel="nofollow" target="_blank"
        >Global Centre of Rail Excellence</a
      ></b>, currently under construction in South Wales. This tour will offer a
      first-hand look at the world-class rail innovation centre being developed
      to support both industrial and academic research.
      <br><br>
      Please note that the places for the GCRE visit are limited and will be allocated on a first-come, first-served basis. 
      New registrations will be placed on the reserve list for the GCRE excursion.
    </p>

    <p>A conference dinner will be held for all delegates.</p>

    <div id="registration"></div>
    <h2>Networking Opportunities</h2>
    <ul>
      <li>
        Attendees will have the chance to connect with peers and professionals,
        fostering relationships that can lead to future collaborations.
      </li>
      <li>
        Information will also be available for connecting with professional
        railway-related organisations, to promote careers in the industry.
      </li>
    </ul>

    
    <h2>Registration:</h2>
    <ul>
      <li>In-person attendance <!--(visit to <a class="urllink" href="https://www.gcre.wales/" rel="nofollow" target="_blank"
        >GCRE</a> included)-->: £30.00</li>
      <li>Online attendance: £15.00</li>
    </ul>
    <a href="https://www.eventbrite.co.uk/e/ukrrin-student-conference-swansea-2026-tickets-1819054183029" 
    rel="nofollow"
    target="_blank"
    style="background-color: #242f60; border: 2px solid #242f60;" class="btn btn-sm">Registration</a>
    <br><br>
    In person Registration Closes on Friday 19th December at 23:59.
    <br><br>
    Please note that the places for the GCRE visit are limited and will be allocated on a first-come, first-served basis. 
    New registrations will be placed on the reserve list for the GCRE excursion.

    <h2>2025 UKRRIN Student Conference</h2>
    <p>
      The
      <a
        class="urllink"
        href="https://sheffield.ac.uk/ritc/conference"
        rel="nofollow"
        target="_blank"
        >2025 UKRRIN Student Conference</a
      >
      was hosted by the University of Sheffield.
    </p>
  </div>
</section>
