<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">UKRRIN 2026<br> Student Conference<br></div>
                <div class="intro-lead-in">7th - 9th January 2026</div>
                <div class="intro-lead-in">Swansea University</div>
                <a href="#intro" style="background-color: #242f60;" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <div style="margin-bottom: 0;">
      {% include 2017_data/affiliations.html %}
    </div>
    <div style="margin-top: 0;">
      {% include 2017_data/intro.html %}
    </div>
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>