<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">UKRRIN 2026<br> Student Conference<br></div>
                <div class="intro-lead-in">7th - 9th January 2026</div>
                <div class="intro-lead-in">Swansea University</div>
                <div class="container">
                <a href="#intro" style="background-color: #242f60; border: 2px solid #242f60;" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
                <div class="container">
                <a href="https://openreview.net/group?id=UKRRIN/2026/Conference&referrer=%5BHomepage%5D(%2F)#tab-your-consoles" 
                    rel="nofollow"
                    target="_blank"
                    style="background-color: #242f60; border: 2px solid #242f60;" class="btn btn-xl">Submit an Abstract</a>
                    </div>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/affiliations.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>