<!DOCTYPE html>
<html>

{% include 2016_data/head.html %}


<body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">UKRRIN 2026<br> Student Conference<br></div>
                <div class="intro-lead-in">7th - 9th January 2026</div>
                <div class="intro-lead-in">Swansea University</div>
                <div class="intro-subheading">Public registration opens on the 1st of December<!--<br> 
                    For information on registering for the event, <a href="#registration">click here</a>.!--></div>
                    <a href="#intro" class="page-scroll btn btn-xl buttons-grouped-home">
                        Tell Me More
                    </a>
                    <br>
                    <!--<a href="https://www.eventbrite.co.uk/e/ukrrin-student-conference-swansea-2026-tickets-1819054183029"
                        rel="nofollow" target="_blank" class="btn btn-xl buttons-grouped-home">Register</a>!-->
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/affiliations.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

</body>

</html>